@import "~bootstrap/scss/bootstrap";
@import "variable";

body {
    background: $mainGradient;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    width: 100%;
    padding: 10rem 0;
}

body.whatwedo { background: $whatwedo_page; }
body.maintainable { background: $maintainable_page; }
body.getintouch { background: $getintouch_page; }

span.whatwedo { color: $whatwedo; }
span.maintainable { color: $maintainable; }
span.getintouch { color: $getintouch; }

header {
    width: 100%;
    display: flex;
}

header ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}

header ul li a {
    display: block;
    text-align: center;
}

header .nav-brand {
    width: 100%;
    display: flex;
    justify-content: end;
}

header .nav-brand a {
    display: block;
}

main {
    display: flex;
    width: 100%;
    padding: .5rem;
}

@media screen and (max-width: 991px) {
    #root {
        padding: 5rem 0;
    }
    main {
        display: block;
    }
    .img-width {
        width: 400px;
    }
    header .nav-brand {
        justify-content: start;
    }
    main .article-one {
        padding-bottom: 0.5rem !important;
    }
    body:not(.whatwedo) .nav-brand,
    body:not(.maintainable) .nav-brand,
    body:not(.getintouch) .nav-brand {
        display: none;
    }
}

main .article-one {
    width: 100%;
    padding-bottom: 3rem;
}

main .article-two {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

main .article-two div {
    margin: 1rem;
}

.img-width {
    object-fit: cover;
}

.overflow-text {
    background: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

footer {
    display: flex;
    width: 100%;
    justify-content: end;
}

.logo {
    width: 150px;
}

.nav-image {
    width: 70px;
}

:not(.active) .nav-underimage {
    display:none;
}

.active .nav-underimage {
    display:block;
}