$design:#ABCFE6;
$designText:#184059;
$careforyou: #FFB472;
$careforyouText: #BF7B3F;
$uptodate:#BFDDEF;
$uptodateText:#5D8AA6;
$mainGradient:linear-gradient(0deg, rgba(176,210,231,1) 0%, rgba(255,255,255,1) 83%);

$whatwedo: #184059;
$whatwedo_page: #ABCFE6;
$maintainable: #5D8AA6;
$maintainable_page: #BFDDEF;
$getintouch: #BF7B3F;
$getintouch_page: #FFB472;